body{
    background: #000;
    color: #fff;
}
#finance-box{
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 0%;
  left: 0%;
  border-radius: 25px;
  border: 2px solid #fff;
  display: inline-block;
  color: #fff;
}

.finance-box-min{
  width:400px;
  height: 50px;
  display: inline-block;
	margin: 0px;
	padding: 0px;
}

#symbol1,
#symbol2,
#symbol3,
#symbol4,
#symbol5,
#symbol6,
#symbol7,
#symbol0{
  width:124px;
  height: 38px;
  position: relative;
  left: 0%;
  display: inline-block;
  padding-top: 12px;
  padding-left: 5px;
}

#bid1,
#bid2,
#bid3,
#bid4,
#bid5,
#bid6,
#bid7,
#bid0{
  width:130px;
  height: 50px;
  position: relative;
  left: 0%;
  display: inline-block;
  text-align: center;
}

#PercentChange1,
#PercentChange2,
#PercentChange3,
#PercentChange4,
#PercentChange5,
#PercentChange6,
#PercentChange7,
#PercentChange0{
  width:122px;
  height: 50px;
  position: relative;
  left: 0%;
  display: inline-block;
  text-align: right;
}