body{
  background-color: #000;
		font-family: Adequate;
}

.weather-box{
  background-color: #000;
  position:absolute;
  right:3%;
  top:3%;
  height: 400px;
  width: 400px;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  border-radius: 10px;
}

.data-weather-maj{
  widht: 100%;
  height: 30%;
  background-color: #000;
}

.data-weather-min{
  width: 100%;
  height: 10%;
  background-color: #000;
}

#temp,
#name,
#temp-icon{
  display: inline-block;
  color:#fff;
}

#name{
  position: relative;
  right:-5%;
  top: -30%;
  font-size: 30px;
  color: #fff;
}

#temp{
  position: relative;
  top: -15%;
  right: -10%;
}

#temp-icon{
  position:relative;
  right: -18%;
  color:white;
  font-size: 50px;
  top: 5%;
  width: 100px;
  height: 100px;
}
