@font-face{
  font-family: 'Adequate1';
  src: url(Adequate-ExtraLight.ttf);
}
@font-face{
  font-family: 'San Francisco';
  src: url(San_Francisco_Display_Ultralight.ttf);
}
@font-face{
  font-family: 'Distyrict Pro';
  src: url(DistProTh.otf);
}
@font-face{
  font-family: 'Roboto';
  src: url(Roboto-Thin.ttf);
}
body{
  font-size: 22px;
  background-color: #000;
		font-family: 'Roboto';
}

.weather-box{
  background-color: #000;
  position:absolute;
  left:3%;
  top:3%;
  height: 400px;
  width: 400px;
  display: inline-block;
}

.data-weather-maj{
  width: 400px;
  height: 120px;
  background-color: #000;
}

#temp,
#name,
#temp-icon{
  display: inline-block;
  color:#fff;
}

#name{
  position: relative;
  width:133px;
  left:0%;
  top: 2%;
  font-size: 34px;
  color: #fff;
}

#temp{
  position: relative;
  width: 115px;
  top: 20%;
  left: 0%;
}

#icond{
  font-size:60px !important;
  width: 133px !important;
  color:white !important;
  position:relative !important;
  left: 0% !important;
  top: 10%;
}

.days{
  font-size: 20px;
  color:white;
  text-align: left;
  position:relative;
  right:0%;

}

#day1.temp,
.days-icons{
  font-size: 20px;
  color: white;
  text-align: right;
  position:fixed;
  left: 16%;
}

.data-weather-min{
  padding-bottom: 6px;
  width: 406px;
  display: inline-block;
}

#temp-const,
#hum{
  font-size:15px;
}
#temp-norm{
  font-size: 26px;
}

.days-icons{
  text-align: right;
}

#news-name{
  text-align: center;
  width: 60%;
  position: fixed;
  opacity: 0.7;
  top: 6%;
  right: 20%;
  font-size: 20px;
  color:#fff;
}

#news-title{
  text-align: center;
  width: 60%;
  position: fixed;
  top: 10%;
  right: 20%;
  font-size: 20px;
  color:#fff;
}

.calendar-box{
  width: 400px;
  height: 400px;
  display: block;
  text-align: right;
  position: fixed;
  right: 1%;
}

.calendar-maj{
  height:50%;
  width: 100%;
  border-bottom: solid;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  font-size: 13px;
}

.calendar-min{
  height:50%;
  width: 100%;
  color: #fff;
  font-size: 20px;
}

.calendar-events-maj{
  height: 25%;
  width: 100%;
  font-size: 18px;
}

.calendar-events-min{
  height: 25%;
  width: 100%;
  font-size: 16px;
  opacity: 0.7;
}

.calendar-events-max,
.calendar-events-max1{
  height: 25%;
  width: 100%;
  font-size: 30px;
}

.calendar-events-max1{
  opacity: 0.7;
}

span#day1.days{
  width: 200px;
}