@font-face{
  font-family: 'Adequate1';
  src: url(Adequate-ExtraLight.ttf);
}
@font-face{
  font-family: 'San Francisco';
  src: url(San_Francisco_Display_Ultralight.ttf);
}
@font-face{
  font-family: 'Distyrict Pro';
  src: url(DistProTh.otf);
}
@font-face{
  font-family: 'Roboto';
  src: url(Roboto-Regular.ttf);
}
body{
  font-size: 22px;
  background-color: #000;
	font-family: 'Roboto';
	margin: 0px;
	padding: 0px;
  color: #fff;
}

.weather-box{
  background-color: #000;
  position:fixed;
  left: 0.5%;
  height: 400px;
  width: 400px;
  display: inline-block;
  border-radius: 27px;
  border: 2px solid #fff;
}

.data-weather-maj{
  width: 400px;
  height: 120px;
  background-color: #000;
  border-radius: 29px;
}

#temp,
#name,
#temp-icon{
  display: inline-block;
  color:#fff;
}

#name{
  position: relative;
  width:133px;
  left:3%;
  top: 2%;
  font-size: 32px;
  color: #fff;
}

#temp{
  position: relative;
  width: 133px;
  top: 20%;
  left: 3%;
}

#icond{
  font-size:62px !important;
  width: 133px !important;
  color:white !important;
  position:relative !important;
  left: 7% !important;
  top: 10%;
}

.days{
  font-size: 22px;
  color:white;
  text-align: left;
  position:relative;
  right:0%;

}

#day1.temp,
.days-icons{
  font-size: 22px;
  color: white;
  text-align: right;
  position:fixed;
  left: 16.5%;
}

.data-weather-min{
  padding-bottom: 22px;
  width: 406px;
  position: relative;
  left: 3%;
  display: inline-block;
}

#temp-const,
#hum{
  font-size:17px;
}
#temp-norm{
  font-size: 28px;
}

.days-icons{
  text-align: right;
}

#news{
  text-align: center;
  width: 50%;
  position: fixed;
  top: 6%;
  right: 25%;
  border-radius: 25px;
  border: 2px solid #fff;
}

#news-name{
  text-align: center;
  width: 100%;
  font-size: 20px;
  opacity: 0.7%;
  color: rgba(255,255,255, 0.7);
}

#news-title{
  text-align: center;
  width: 96%;
  padding: 0 2% 0 2%;
  position: relative;
  top: 10%;
  font-size: 20px;
  color:#fff;
}

.calendar-box{
  width: 400px;
  height: 400px;
  display: block;
  text-align: right;
  position: fixed;
  right:0%;
  border-radius: 25px;
  border: 2px solid #fff;
}

.calendar-maj{
  height:50%;
  width: 100%;
  border-bottom: solid;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  font-size: 13px;
}

.calendar-min{
  height:50%;
  width: 100%;
  color: #fff;
  font-size: 20px;
}

.calendar-events-maj{
  height: 25%;
  width: 100%;
  font-size: 18px;
  text-align: left;
  position: relative;
  left: 1%;
}

.calendar-events-min{
  height: 25%;
  width: 100%;
  font-size: 16px;
  opacity: 0.7;
  text-align: left;
  position: relative;
  left: 1%;
}

.calendar-events-max,
.calendar-events-max1{
  height: 25%;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.calendar-events-max1{
  opacity: 0.7;
}

span#day1.days{
  width: 200px;
}

#txt{
  position: fixed;
  top: 44.2%;
  right: 40.5%;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

#map-box{
  width: 400px;
  height: 400px;
  position: fixed !important;
  bottom: 0% !important;
  right: 0% !important;
  border-radius: 25px;
  border: 2px solid #fff;
}

/* remove LOGO AND COPYRIGHT --------------------------------------*/

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/*------------------------------------------------------------------*/

#finance-box{
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 0%;
  left: 0.5%;
  font-size: 20px;
  border-radius: 25px;
  border: 2px solid #fff;
  display: inline-block;
  color: #fff;
}

.finance-box-min{
  width:400px;
  height: 50px;
  display: inline-block;
	margin: 0px;
	padding: 0px;
}

#symbol1,
#symbol2,
#symbol3,
#symbol4,
#symbol5,
#symbol6,
#symbol7,
#symbol0{
  width:124px;
  height: 38px;
  position: relative;
  left: 0%;
  display: inline-block;
  padding-top: 12px;
  padding-left: 5px;
}

#bid1,
#bid2,
#bid3,
#bid4,
#bid5,
#bid6,
#bid7,
#bid0{
  width:130px;
  height: 50px;
  position: relative;
  left: 0%;
  display: inline-block;
  text-align: center;
}

#PercentChange1,
#PercentChange2,
#PercentChange3,
#PercentChange4,
#PercentChange5,
#PercentChange6,
#PercentChange7,
#PercentChange0{
  width:122px;
  height: 50px;
  position: relative;
  left: 0%;
  display: inline-block;
  text-align: right;
}