/*---FONTS PROPERTIES-------------------------------------------------------*/

@font-face{
  font-family: 'Adequate1';
  src: url(Adequate-ExtraLight.ttf);
}
@font-face{
  font-family: 'San Francisco';
  src: url(San_Francisco_Display_Ultralight.ttf);
}
@font-face{
  font-family: 'Distyrict Pro';
  src: url(DistProTh.otf);
}
@font-face{
  font-family: 'Roboto';
  src: url(Roboto-Thin.ttf);
}
@font-face{
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 100 !important;
  src: url(Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff);
}
@font-face{
  font-family: 'RobotoCondensed';
  font-style: normal;
  src: url(RobotoCondensed-Light.ttf);
}
@font-face{
  font-family: 'RobotoCondensedRegular';
  font-style: normal;
  src: url(RobotoCondensed-Regular.ttf);
}
@font-face{
  font-family: 'Champagne';
  src: url(Champagne&Limousines.ttf);
}
@font-face{
  font-family: 'SanFranciscoLight';
  src: url(SF-UI-Display-Light.otf);
}
@font-face{
  font-family: 'SanFranciscoUltraLight';
  src: url(San_Francisco_Display_Ultralight.ttf);
}
@font-face{
  font-family: 'SanFranciscoThin';
  src: url(San_Francisco_Display_Thin.ttf);
}
@font-face{
  font-family: 'SanFranciscoRegular';
  src: url(SF-UI-Text-Regular.otf);
}
@font-face{
  font-family: 'SanFranciscoLight2';
  src: url(SF-UI-Text-Light.otf);
}
@font-face{
  font-family: 'SanFranciscoUltraLight2';
  src: url(SF-UI-Display-Ultralight.otf);
}
@font-face{
  font-family: 'SanFranciscoThin2';
  src: url(SF-UI-Display-Thin.otf);
}
@font-face{
  font-family: 'SanFranciscoRegular2';
  src: url(SF-UI-Display-Regular.otf);
}